@import url('reset.css');
@font-face {
    font-family: FiraSansBold;
    src: url(fonts/FiraSans-Bold.ttf);
}
body {
	color: black;
	text-align: center;
	font-family: FiraSansBold, serif;
	line-height: 240%;
}
#wrapper {
	position: relative;
	margin: 0 auto;
	background-color: #ffe4e1;
	min-width: 550px;
	max-width: 1080px;
}
.wrap {
	position: relative;
	height: 900px;
}
.logo_back {
	top: 0;
}
.logo_back, .corona_back {
	position: absolute;
	left: 0;
    width: 100%;
    height: auto;
}
.corona_back {
	bottom: 0;
}
.logo {
	margin-top: 30px;
	margin-bottom: 5px;
	width: 150px;
	position: relative;
	z-index: 2;
}
.logo2 {
	margin-top: 250px;
}
.line {
	border-bottom: 8px solid black;
	margin-bottom: 50px;
}
h1, h2 {
	font-size: 40px;
	margin-bottom: 20px;
	margin-top: 20px;
	position: relative;
	z-index: 2;
}
p {
	font-size: 30px;
	margin-bottom: 40px;
	margin-top: 40px;
}
.contacts {
	height: 60px;
	width: 100%;
	margin-top: 180px;
}
.contacts a {
	display: inline-block;
	height: 60px;
	width: 60px;
	margin-right: 40px;
}
.contacts a:nth-child(4) {
	margin-right: 0;
}
/*.vk {
	background-image: url(img/vk.svg);
	background-size: cover;
}*/


/*.vk svg path:first-child:hover {
	fill: #00F;
}
.vk svg path:first-child:active {
	fill: #00c;
}*/


/*.inst {
	background-image: url(img/inst.svg);
	background-size: cover;
}*/
.inst img {
	width: 60px;
	height: 60px;
}
/*.mail {
	background-image: url(img/at.svg);
	background-size: cover;
	width: 65px !important;
}*/
.mail svg {
	fill: #0f93ff;
}
/*.tel {
	background-image: url(img/whatsapp.svg);
	background-size: cover;
}*/
.tel svg:active, .vk svg:active, .inst img:active, .mail svg:active {
	position: relative;
	top: 2px;
}
.corona {
	width: 250px;
}