@import url('reset.css');
@font-face {
    font-family: FiraSansBold;
    src: url(fonts/FiraSans-Bold.ttf);
}
body {
	color: black;
	text-align: center;
	font-family: FiraSansBold, serif;
	line-height: 240%;
}
.logo {
	width: 250px;
}
h1 {
	font-size: 40px;
	margin-bottom: 20px;
}
h2 {
	font-size: 40px;
	margin-bottom: 20px;
	margin-top: 20px;
}
p {
	font-size: 30px;
	margin-bottom: 40px;
	margin-top: 40px;
}
.contacts {
	height: 65px;
	width: 100%;
	margin-top: 70px;
	margin-bottom: 70px;
}
.contacts a {
	display: inline-block;
	height: 65px;
	width: 60px;
	margin-right: 40px;
}
.contacts a:nth-child(4) {
	margin-right: 0;
}
.vk {
	background-image: url(img/vk.svg);
	background-size: cover;
}
.inst {
	background-image: url(img/inst.svg);
	background-size: cover;
}
.mail {
	background-image: url(img/at.svg);
	background-size: cover;
	width: 65px !important;
}
.tel {
	background-image: url(img/whatsapp.svg);
	background-size: cover;
}